<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - AMS_DBTC_Frontend</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AMS_DBTC_Frontend.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>

    <div class="sidebar-header">

        <img src="images/donbosco.jpg" alt="Logo" class="logo">

        <div class="system-title">
            <h2 class ="bold-text">Attendance System</h2>
            <p>Management Portal</p>
        </div>
        <div class="topbar-right">

                <i class="fa-regular fa-bell"></i>
                <i class="fa-solid fa-gear"></i>

                <div class="profile">

                    <div>
                        <h3>YOUR NAME</h3>
                        <p>Administrator</p>
                    </div>

                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png">

                    <i class="fa-solid fa-right-from-bracket"></i>

                </div>

        </div>

    </div>

    <div class="main-layout">

        <aside class="sidebar">
            <a asp-controller="Home" asp-action="Index">
                <i class="fas fa-gauge"></i>
                Dashboard
            </a>

            <a asp-controller="Home" asp-action="Privacy">
                <i class="fas fa-user"></i>
                Student
            </a>

            <a asp-controller="Home" asp-action="Teacher">
                <i class="fas fa-user-tie"></i>
                Teacher
            </a>

            <a asp-controller="Home" asp-action="Course">
                <i class="fas fa-book"></i>
                Course
            </a>

            <a asp-controller="Home" asp-action="Enrolment">
                <i class="fas fa-clipboard-list"></i>
                Enrolment
            </a>

            <a asp-controller="Home" asp-action="Attendance">
                <i class="fas fa-calendar-check"></i>
                Attendance
            </a>

        </aside>


        <main class="content-area">

            @RenderBody()

        </main>

    </div>


    <footer class="footer">

        <p>&copy; 2026 - AMS_DBTC_Frontend</p>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>