@{
    ViewData["Title"] = "Attendance";
}
<link rel="stylesheet" href="~/css/Attendance.css" asp-append-version="true" />

<div class="container">

    <h1>Attendance Page</h1>

    <p>This is the Attendance module.</p>

</div>