@{
    ViewData["Title"] = "Course";
}
<link rel="stylesheet" href="~/css/Course.css" asp-append-version="true" />

<div class="container">

    <h1>Course Page</h1>

    <p>This is the Course module.</p>

</div>